{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>VSC VESTIBULAR SOLUTION. 
  
  Estamos no meio de um mercado de negócios, onde a concorrência chega a ser de produto para produto, ao invés de empresa para empresa. 
  As organizações estão buscando adaptar-se ao mercado, por motivos de sobrevivência empresarial.

  A VSN VESTIBULAR SOLUTION têm 30 anos de experiência no mercado, contando com os melhores professores e instrutores, seu sucesso é o nosso sucesso.

  Preocupada com a situação precária das escolas públicas, a VSC VESTIBULAR SOLUTION é uma instituição de ensino, que oferece diversos cursos em diferentes matérias, além de cursos preparatórios para vestibular.

  Entre em contato com um de nossos especialistas para entendermos qual a sua necessidade e conseguirmos ajudar você a alcançar seus objetivos.

</p>

{% endblock %}
